<%= error_messages_for :status %>

<%= form_for :status do |f| %>
  <%= required_fields_message %>

  <%= required labelled_form_field(_('Name'), f.text_field(:name)) %>
  <%= labelled_form_field(f.check_box(:enabled) + _('Enable this status?'),'') %>
  <%#= labelled_form_field(f.check_box(:enable_reason) + _('This status allows reason?'),'') %>

  <% button_bar do %>
    <%= submit_button('save', _('Save'), :cancel => {:action => 'index'}  ) %>
  <% end %>
<% end %>
