<h1><%= _('System features') %></h1>

<h2><%= _('Enable/Disable features') %></h2>

<p>
<%=  _('Here you can enable or disable several features of your environment. Each feature represents some funcionality that your environment can use if you enable it.

Check all the features you want to enable for your environment, uncheck all the ones you don\'t want, and use the <em>"Save changes" button</em> to confirm your changes.') %>
</p>

<%= labelled_form_for(:environment, :url => {:action => 'update'}) do |f| %>

<table>
  <tr>
    <th><%= _('Feature') %></th>
    <th><%= _('Enabled?') %></th>
  </tr>
  <%= hidden_field_tag('environment[enabled_features][]', '') %>
  <% @features.each do |feature, text|   %>
  <tr>
    <td><%= text %></td>
    <td><%= check_box_tag "environment[enabled_features][]", feature, @environment.enabled?(feature) %></td>
  </tr>
  <% end %>
</table>

<h2><%= _('Configure features') %></h2>

<h3><%= _('Page to redirect after signup') %></h3>
  <%=  select 'environment', 'redirection_after_signup', Environment.signup_redirection_options.map{|key,value|[value,key]} %>
<hr/>
<h3><%= _('Page to redirect after login') %></h3>
  <%=  select 'environment', 'redirection_after_login', Environment.login_redirection_options.map{|key,value|[value,key]} %>
<hr/>

<h3><%= _('Organization Approval Method') %></h3>
  <%= select_organization_approval_method('environment', 'organization_approval_method') %>
<hr/>

<div>
  <% button_bar do %>
    <%= submit_button('save', _('Save changes')) %>
    <%= button :back, _('Back to admin panel'), :controller => 'admin_panel', :action => 'index' %>
  <% end %>
</div>

<% end %>
